<a href="https://colab.research.google.com/github/savan590/savan/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pattern 1
n=int(input("enter the numbers of rows: "))
for i in range(0,n):
 print("* "*(i+1),end=" ")
 print()

enter the numbers of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [2]:
#pattern 2
n=int(input("enter the numbers of rows: "))
for i in range(n,0,-1):
 print("* "*(i),end=" ")
 print()

enter the numbers of rows: 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
#pattern 3
n=int(input("enter the numbers of rows: "))
for i in range(0,n):
 print(" "*(2*(n-i)-2),end="")
 print("* "*(i+1),end=" ")
 print()

enter the numbers of rows: 6
          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [4]:
#pattern 4
n=int(input("enter the numbers of rows: "))
for i in range(n,0,-1):
 print(" "*(2*(n-i)),end="")
 print("* "*(i),end=" ")
 print()

enter the numbers of rows: 6
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [5]:
#pattern 5
n=int(input("enter the numbers of rows: "))
for i in range(0,n):
 print("* "*(i+1),end="") 
 print(" "*(4*(n-i)-4),end="")
 print("* "*(i+1),end="") 
 print()

enter the numbers of rows: 6
*                     *
* *                 * *
* * *             * * *
* * * *         * * * *
* * * * *     * * * * *
* * * * * * * * * * * *

In [6]:
#pattern 6
n=int(input("enter the numbers of rows: "))
for i in range(n,0,-1):
 print("* "*(i),end="") 
 print(" "*(4*(n-i)),end="")
 print("* "*(i),end="") 
 print()

enter the numbers of rows: 6
* * * * * * * * * * * *
* * * * *     * * * * *
* * * *         * * * *
* * *             * * *
* *                 * *
*                     *

In [7]:
#pattern 7
n=int(input("enter the numbers of rows: "))
for i in range(0,n):
 print(" "*(n-i-1),end="")
 print("* "*(i+1),end=" ")
 print(" "*(n-i-1),end="")
 print()

enter the numbers of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [8]:
#pattern 8
n=int(input("enter the numbers of rows: "))
for i in range(n,0,-1):
 print(" "*(n-i),end="")
 print("* "*(i),end=" ")
 print(" "*(n-i),end="")
 print()

enter the numbers of rows: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [9]:
#pattern 9
n=int(input("enter the numbers of rows: "))
for i in range(1,n+1):
 print('%d '%i*i ,end=" ")
 print()

enter the numbers of rows: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [13]:
#pattern 10
a=1
n=int(input("enter the numbers of rows: "))
for i in range(1,n+1):
 for j in range(0,i):
  print(a,end=" ")
  a=a+1
 print()

enter the numbers of rows: 4
1
2 3
4 5 6
7 8 9 10

In [14]:
#pattern 11
n=int(input("enter the numbers of rows: "))
for i in range(1,n+1):
 print(" "*(n-i),end="")
 print('%d '%i*(i) ,end=" ")
 print(" "*(n-i),end="")
 print()

enter the numbers of rows: 4
   1
  2 2
 3 3 3
4 4 4 4

In [16]:
#pattern 12
n = int(input("Enter the number of rows : "))
for i in range(1,n+1):
   print(" "*(n-i),end="")
   m=1
   for j in range(1,i+1):
     print(m,end=" ")
     m = int(m*(i-j)/(j))
   print(" "*(n-i),end="")
   print()

Enter the number of rows : 5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [17]:
#pattern 13
s=str(input("enter the string : ")) 
for i in range(1,len(s)+1):
 print(" ".join(s[:i]),end="")
 print()

enter the string : MARWADI
M
M A
M A R
M A R W
M A R W A
M A R W A D
M A R W A D I

In [18]:
#pattern 14
s=str(input("enter the string : ")) 
for i in range(1,len(s)+1):
 print(" "*(len(s)-i),end="")
 print(" ".join(s[:i]),end="")
 print(" "*(len(s)-i),end="")
 print()

enter the string : marwadi
      m
     m a
    m a r
   m a r w
  m a r w a
 m a r w a d
m a r w a d i